// Place all the styles related to the Favorites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.heart-style {
    font-size:  2em;
    color: #ED4956;
    padding-bottom: 5px;
}
.heart-empty-style {
    font-size:  2em;
    color: black;
}